[submodule "frameworks"]
    path = frameworks
    url =  git@github.com:wwwwanhonghuang/XR-Cocreation-Infrastructure-Frameworks.git

[submodule "dance_dynamics"]
    path = dance-dynamics
    url =  git@github.com:wwwwanhonghuang/dance-dynamics.git

